# dependencies
/node_modules
/.pnpm-store
/packages/*/node_modules

# next.js build and cache
/.next/
/out/

# production/build outputs
/dist
/build
/generated/prisma

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript cache
*.tsbuildinfo

# OS metadata and zip archives
.DS_Store
Thumbs.db
*.zip
*.tar.gz
